// commonly used breakpoints
$sonia-breakpoints: ( small: 480px, medium: 960px, large: 1024px);
$blackboard-breakpoints: ( small: 480px, medium: 960px, large: 1024px);
$sonia-colors: ( globalBackgroundColor: #f8f8f8, textLighter: #999, textLight: #424242, bgHighlight: rgb(253, 250, 209), borderLight: #dedede);

