@import "./theme/sonianetz.variables";
sonia-overview-button {
  .sonia-overview-buttons-row {
    &:after {
      content: "";
      flex: auto;
    }
  }
  .sonia-overview-buttons-col {
    display: flex;
    flex: 0 1 auto;
    @media screen and (min-width: map-get($sonia-breakpoints, 'small')) {
      flex: 0 1 50%;
      max-width: 50%;
    }
    @media screen and (min-width: map-get($sonia-breakpoints, 'medium')) {
      flex: 0 1 33.333333%;
      max-width: 33.333333%;
    }
  }
  display: block;
  width: 100%; //icon over text
  .button-inner {
    flex-direction: column;
    padding-top: 15px;
    overflow: hidden;
  }
  button {
    //
    // responsive defaults - mobile first
    //
    padding: 0 10px;
    height: 180px;
    width: inherit;
    font-size: 22px;
    background-size: 70px 70px;
    transition: all 100ms;
    ion-icon {
      font-size: 70px;
      padding: 0 0 20px;
    }
    @media screen and (min-width: map-get($sonia-breakpoints, 'small')) {
      height: 225px;
      font-size: 26px;
      background-size: 200px 100px;
      ion-icon {
        font-size: 100px;
        padding: 0 0 20px;
      }
    }
    @media screen and (min-width: map-get($sonia-breakpoints, 'medium')) {
      height: 275px;
    } //
    // BASE styles for buttons
    //
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px;
    line-height: 1.2;
    border: none;
    white-space: normal;
    color: white;
    &:active {
      //background-color: #5e5b57!important;
      transform: scale(0.9);
    }
  }
}
