sonia-custom-card {
  .sonia-card {
    background-color: #ffffff;
    ion-card-header {
      white-space: normal;
    }
    ion-card-title {
      color: inherit;
    }
    .sonia-card-footer {
      background: color($colors, light);
      ion-note {
        color: color($sonia-colors, textLighter);
      }
    }
  }
}

